body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-align: left;

  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.main-nav {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-nav {
  list-style: none;
}

.site-nav a {
  color: #000000;
}

/*Стили слайдера должны быть тут*/

/*Стили преимуществ ниже*/
.features-list {
  list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
