html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #283136;

  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/*запрет вываливаться изображениям за границы блока, не нарушая свои пропорции*/
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*кнопки*/
.button {
  display: inline-block;
  padding: 18px 50px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:active:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  border-radius: 5px;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1) inset;
}
/*конец кнопок*/

/*-------------------------------------------header------------------------------------------*/


.main-nav {
  display: flex;
  width: 100%;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav .container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  display: block;
  width: 160px;
  height: 65px;
  margin-top: 57px;
  margin-right: 202px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin: 0;
  margin-top: 74px;
  margin-right: 248px;
  padding: 0;

  list-style: none;
}

.site-nav a {
  display: block;

  color: #000000;
}

.shop-basket {
  position: relative;

  margin: 0;
  margin-top: 83px;
  padding-left: 35px;

  font-weight: 500;
  color: #000000;
}

.shop-basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -4px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-nav a:hover,
.shop-basket:hover {
  color: #fb565a;
}

.site-nav a:active,
.shp-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav a:focus,
.shop-basket:focus {
  border-bottom: 2px solid #fb565a;
  outline: none;
}

.active-nav-position {
  border-bottom: 2px solid #fb565a;
}

/*--------------------------------------------- МЭЙН -----------------------------------------------*/
/*Стили слайдера*/

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  vertical-align: center;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item-button {
  padding: 16px 55px;
}

/*Стили преимуществ ниже*/

.features {
  margin: 0;
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 300px;
  margin-right: 100px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-item p {
  width: 245px;
  margin-bottom: 33px;
}

.features-item h3 {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.features-item a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.features-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.web-button {
  background-color: #fb565a;
}

.web-button:hover {
  background-color: #e74246;
}

.web-button:active:focus {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.app-button {
  background-color: #00ca74;
}

.app-button:hover {
  background-color: #00bc6c;
}

.app-button:active:focus {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pres-button {
  background-color: #efc84a;
}

.pres-button:hover {
  background-color: #eab534;
}

.pres-button:active:focus {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.features-img {
  display: block;
  width: 300px;
  height: 146px;
}

.features-button {
  padding: 16px 40px;
}

/* about company */

.index-colums {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 72px 0;
}

.about-company {
  width: 660px;
  margin-top: 20px;
}

.about-company p {
  margin-bottom: 33px;
}

.about-company b {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-company .description {
  margin-top: 38px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.shedule-list {
  margin: 0;
  padding-left: 36px;

  list-style: none;
}

.shedule-list li {
  position: relative;

  margin-bottom: 24px;
}

.shedule-list li:last-child {
  margin: 0;
}

.shedule-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}
/* лого и таблица*/
.business-card {
  width: 360px;
}

.business-card p {
  margin-top: 31px;
  margin-bottom: 37px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.business-card-item img {
  margin-bottom: 14px;
}

.business-card-table tbody {
  display: flex;
  flex-direction: column;
  margin-left: -3px;
}

.company-skills {
  order: 2;
}

.company-results {
  order: 1;
  margin-bottom: 14px;
}

.company-results td:nth-child(2) {
  padding-left: 16px;
}

.company-results td:last-child {
  padding-left: 21px;
}

.company-results td:first-child {
  padding-left: 1px;
}

.company-results td {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.company-skills th {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.company-skills th:nth-child(2) {
  padding-left: 19px;
}

.company-skills th:last-child {
  padding-left: 20px;
}

.company-skills th:first-child {
  padding-left: 0;
}


.percentage {
  position: relative;
  top: -15px;

  font-size: 25px;
  line-height: 10px;
}

/* следующий блок с партнерами/клиентами*/

.partners {
  margin-right: 8px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 181px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partner-logo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.partner-logo:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  display: inline-block;
  width: 2px;
  height: 52px;
  margin-top: -26px;

  vertical-align: center;

  background-color: #d7dcde;
}

.partner-logo:nth-child(4n):after {
  display: none;
}

.partner-logo img {
  opacity: 0.2;
}

.partner-logo img:hover {
  opacity: 1;
}

.partner-logo img:active {
  opacity: 0.1;
}

.partner-logo:nth-child(4n) {
  position: relative;
}

.partner-logo:nth-child(4n+1) {
  position: relative;
  top: 5px;
  right: 5px;
}

/* --------------------------------------- футер --------------------------------------------*/

.main-footer,
.catalog-footer {
  margin-bottom: 77px;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.map-container {
  position: relative;

  width: 320px;
  margin-bottom: 60px;
}

.interactive-map {
  position: relative;

  width: 100%;
  height: 416px;
}

.map-contacts {
  position: absolute;
  top: -363px;
  left: -410px;

  display: flex;
  flex-direction: column;
  width: 220px;
  height: 210px;
  padding: 51px;

  background-color: #ffffff;
}

.map-contacts-list {
  width: 219px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.map-contacts h2 {
  width: 195px;
  margin: 0;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.map-contacts p {
  width: 210px;
  margin: 0;

  line-height: 18px;
  color: #666666;
}

.map-contacts-item:first-child {
  margin-bottom: 15px;
}

.map-contacts-item:nth-child(2) {
  margin-bottom: 33px;
}

.tel-number {
  line-height: 18px;
  color: #666666;
  text-decoration: none;
}

.map-modal-button {
  padding: 16px 44px;
}

.main-footer .container,
.catalog-footer .container {
  display: flex;
}

/* соц сети*/
.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
  margin: 0 ;
  padding: 0;

  list-style: none;
}

.social-networks li:nth-child(2),
.social-networks li:nth-child(3) {
  margin-left: 12px;
}

.social-btn {
  display: flex;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-vk svg {
  margin-left: 27px;
}

.social-fb svg {
  margin-left: 34px;
}

.social-insta svg {
  margin-left: 29px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active path,
.social-button:focus path {
  opacity: 0.3;
}

.social-btn:active:focus {
  background-color: #d7373b;
}

.discount-phrase {
  width: 560px;
  min-height: 79px;
  margin: 0;
  margin-top: 9px;
  margin-left: 139px;
}

.discount-phrase b {
  display: block;
  margin-bottom: 12px;
}
/*-----------------------------------------------доп. стили каталога----------------------------------------*/

/*header*/

.inner-nav {
  line-height: 34px;
}

.inner-nav a:hover {
  opacity: 0.8;
}

.inner-nav a:active {
  opacity: 0.3;
}

.catalog-header .shop-basket {
  margin-top: 80px;
}

/*main*/

.catalog-title {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  padding-top: 78px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.flex-grid {
  display: flex;
}

.catalog-cards-grid {
  margin-top: 60px;
}

/* фильтр - СТОИМОСТЬ*/

.catalog-filter {
  width: 260px;
  margin: 0;
  margin-top: 60px;
}

.catalog-filter fieldset {
  width: 260px;
  padding: 0;

  border: none;
}

.filter-item {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 50px;
}

.filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.bar {
  width: 70%;
  margin-left: 0;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  vertical-align: center;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

/* фильтр- СЕТКА*/

.filter-grid {
  margin-bottom: 25px;
}

.filter-grid legend {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-grid-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-grid-list li {
  line-height: 20px;
  color: #283136;
}

.filter-grid-item {
  margin-bottom: 20px;
  padding-left: 35px;
}


.filter-grid-item label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-grid-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}



.filter-grid-item label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-grid-radio:checked + label::before {
  display: none;
}

.filter-grid-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-grid-radio + label:hover::before,
.filter-grid-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-grid-radio:disabled + label {
  opacity: 0.1;
}

/* фильтр-ОСОБЕННОСТИ*/

.filter-content {
  margin-bottom: 27px;
}

.filter-content legend {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-content-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-content-list li {
  line-height: 20px;
  color: #283136;
}

.filter-content-item {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-content-item input {
  opacity: 0.4;
}

.filter-content-item label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-content-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-content-checkbox:checked + label::before {
  display: none;
}

.filter-content-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-color: #ffffff;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-content-item label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-content-checkbox + label:hover::before,
.filter-content-checkbox:checked + label:hover::after {
  opacity: 1;
}

.catalog-form-button {
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.catalog-form-button:hover {
  background-color: #dfdfdf;
}

.catalog-form-button:active:focus {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  outline: none;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* СОРТИРОВАТЬ */

.catalog-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 760px;
  margin-left: 140px;

  text-transform: uppercase;
}
.catalog-sorting p {
  margin: 0;
  margin-right: 267px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.catalog-sorting a {
  display: inline-block;
  margin-right: 25px;

  vertical-align: center;
}

.catalog-sorting a:nth-child(3) {
  margin-right: 48px;
}

.catalog-sorting a:last-child {
  margin: 0;
}

.sorting {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.sorting:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting .active-sort {
  color: #000000;
}

.sorting:active,
.sorting:focus {
  color: #000000;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-item path {
  opacity: 0.2;
}

.sorting-item:hover path {
  opacity: 1;

  fill: #a6a6a6;
}

.active-sorting {
  margin-right: 18px;
}

.sorting-item:active path,
.active-sorting path {
  opacity: 1;

  fill: #000000;
}
/*дальше карточки товаров*/

.product-cards {
  margin: 50px 0 23px 140px;
}

.card-list {
  width: 770px;
  margin: 0;
  padding: 0;
}

.card-item {
  position: relative;

  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;

  font-size: 0;
  vertical-align: center;

  background-color: #ffffff;
}

.card-item:nth-child(2n) {
  margin-right: 0;
}

.card-item:hover .card-hover {
  display: block;
}

.card-hover {
  position: absolute;
  top: 345px;

  display: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 230px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;

  background-color: #eeeeee;
}

.card-hover h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.card-hover h3:hover {
  color: #fb565a;
}

.card-hover h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-hover  .card-description {
  min-width: 136px;
}

.card-hover-flex {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
}

.card-hover-flex h3 {
  width: 115px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 25px;
}

.card-hover-flex p {
  margin: 0;
  padding: 0;
}

.card-hover-flex .card-description {
  width: 228px;
  margin-bottom: 30px;
}

.card-hover-flex .buy-button {
  width: 200px;
  padding-top: 19px;
  padding-bottom: 18px;
}
/* "браузер" вокруг карточек товаров */

.browser-card {
  position: relative;

  width: 360px;
  height: 576px;
  margin: auto;
  margin-top: 40px;

  border: 1px solid rgba(0, 1, 1, 0.1);
}

.browser-card:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px;

  font-size: 17px;
  color: #ffffff;

  background-color: gray;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='8' cx='15' cy='50%25' fill='white'/%3E%3Ccircle r='8' cx='40' cy='50%25' fill='white'/%3E%3Ccircle r='8' cx='65' cy='50%25' fill='white'/%3E%3C/svg%3E");
  border-radius: 5px 5px 0 0;
  opacity: 0.12;
}

.browser-card:hover:before {
  background-color: #4d4d4d;
  opacity: 1;
}

/* Хлебные крошки */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 60px 140px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 11px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.breadcrumbs-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-item:last-child {
  width: 260px;
}

.breadcrumbs-item:hover {
  background-color: #dfdfdf;
}

.breadcrumbs-item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.active-breadcrumbs {
  width: 44px;
  height: 44px;
  margin: 0;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* catalog-footer */

.catalog-footer .container {
  display: flex;
}

.catalog-footer p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.catalog-footer b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

/* Модальные окна */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal {
  position: fixed;

  display: none;

  color: #000000;

  background-color: #000000;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-feedback {
  top: 100px;
  left: 50%;

  width: 960px;
  min-height: 590px;
  margin-left: -466px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 21px;
  height: 21px;

  background-image: url("../img/svg/close-cross.svg");
  opacity: 0.3;
}

.modal-close:hover::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}


.modal-window {
  width: 760px;
  margin-top: 67px;
  margin-bottom: 84px;
  margin-left: 99px;
}

.modal-window h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 41px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: #000000;
}

.modal-form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-form-item label {
  display: block;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.modal-form-item input[type="text"],
.modal-form-item input[type="email"] {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  margin-bottom: 34px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;

  font: inherit;
  color: #d7dcde;

  background-color: #ffffff;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  outline: none;
}

.modal-form-item textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 118px;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-left: 13px;

  font: inherit;
  color: rgba(68, 68, 68, 0.5);

  background-color: #ffffff;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  outline: none;

  resize: none;
}

.modal-form-item input[type="text"]:hover,
.modal-form-item input[type="email"]:hover,
.modal-form-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-form-item input[type="text"]:focus,
.modal-form-item input[type="email"]:focus,
.modal-form-item textarea:focus {
  color: #000000;

  border: 2px solid #000000;
}

.modal-form-item input[type="text"]:invalid,
.modal-form-item input[type="email"]:invalid,
.modal-form-item textarea:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.button-modal {
  padding: 17px 83px 15px 85px;

  outline: none;
}
